.c-box {
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  background: #fff;
  width: 207px;
  height: 147px;
  margin: 0.3rem;
}

.c-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  height: 147px;
  padding: 15px;
}

.c-icon {
  display: flex;
  width: 12.9375rem;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-left: 0.8rem;
}

.c-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
  height: 63px;
  margin-left: 0.8rem;
}

.c-text p:nth-child(1) {
  margin: 0;
  color: #898989;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.c-text p:nth-child(2) {
  margin: 0;
  color: #3a3f51;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.c-month {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: 2px;
  width: 206px;
  margin: 10px;
}

.c-up {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 62.5rem;
  background: rgba(52, 202, 165, 0.12);
  height: 16px;
}

.c-month p {
  color: #606060;
  font-family: Inter;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.trend-up {
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0.21875rem 0.09375rem;
  justify-content: center;
  align-items: center;
  height: 5px;
}

.trend-up p {
  color: #34caa5;
  /* Body Text/Plus Jakarta Sans/Medium/12 */
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
