.conteiner {
  width: 1955px;
  height: 1080px;
  background: #fafafa;
}

.leri {
  display: flex;
  height: 400px;
}

.l-leri {
  flex: 1;
}

.r-leri {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .conteiner {
    width: auto;
    height: 300vh;
  }
  .leri {
    flex-direction: column;
  }

  .r-leri {
    display: flex;
    flex-direction: column;
  }
}
